# Project exclude paths
/.gradle/
/Cinema Room Manager/task/build/
/Cinema Room Manager/task/test/
/Topics/
/Cinema Room Manager/Arrangement/
/Cinema Room Manager/Errors/
/Cinema Room Manager/Menu, please/
/Cinema Room Manager/Sold/
